In [3]:
import pandas as pd
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI

df = pd.read_csv("/home/shivanksharma4/Downloads/student.csv")
df = df[['name', 'mark', 'gender']]
df

           name  mark  gender
0      John Deo    75  female
1      Max Ruin    85    male
2        Arnold    55    male
3    Krish Star    60  female
4     John Mike    60  female
5     Alex John    55    male
6   My John Rob    78    male
7        Asruid    85    male
8       Tes Qry    78    male
9      Big John    55  female
10       Ronald    89  female
11        Recky    94  female
12          Kty    88  female
13         Bigy    88  female
14     Tade Row    88    male
15        Gimmy    88    male
16        Tumyu    54    male
17        Honny    75    male
18        Tinny    18    male
19       Jackly    65  female
20   Babby John    69  female
21       Reggid    55  female
22        Herod    79    male
23    Tiddy Now    78    male
24     Giff Tow    88    male
25       Crelea    79    male
26     Big Nose    81  female
27    Rojj Base    86  female
28  Tess Played    55    male
29    Reppy Red    79  female
30  Marry Toeey    88    male
31    Binn Rott    90  female
32    Kenn Rein    96  female
33     Gain Toe    69    male
34   Rows Noump    88  female

In [4]:
template = """You are a chatbot that will interact with a human
Given the following context and a human input,perform the operation given in the input and derive
the insights using the context which would be a dataframe
If the question cannot be answered using the information 
provided answer with "I don't know".

{context}

{chat_history}
Human: {human_input}
Chatbot:"""

In [6]:
from langchain import LLMChain
from langchain.prompts import PromptTemplate
from langchain.memory import ConversationBufferMemory
from langchain.chat_models import ChatOpenAI
prompt = PromptTemplate(
    input_variables=["chat_history", "human_input", "context"], template=template
)
memory = ConversationBufferMemory(memory_key="chat_history", input_key="human_input")
chain =LLMChain(
    llm=ChatOpenAI(openai_api_key="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",temperature=0)
    , memory=memory, prompt=prompt
)

In [12]:
query="calculate total students of each gender"
result=chain({"context":df , "human_input": query},return_only_outputs=True)
result['text']

'There are 16 female students and 19 male students in the dataframe.'

In [13]:
query="total Number of students getting greater than 50 marks and how many are male and female out of it?"
result=chain({"context":df , "human_input": query},return_only_outputs=True)
result['text']

'There are 32 students getting greater than 50 marks, out of which 16 are female and 16 are male.'

In [14]:
query="name of students getting highest and lowest marks"
result=chain({"context":df , "human_input": query},return_only_outputs=True)
result['text']

'The student with the highest marks is Kenn Rein and the students with the lowest marks are Tinny and Arnold.'